$accent-color: #ff6c00;
$light-link-color: #ffffff;
$dark-link-color: #303030;
$dark-heading-color: #303030;
$trans-heading-color: rgba(157, 164, 189, 0.6);
$text-form-color: rgba(157, 164, 189, 0.4);
$light-heading-color: #ffffff;
$primary-text-color: #555555;
$secondary-text-color: #9da4bd;
$light-color: #ffffff;
$dark-color: #212121;
$grey-bg-color: #f7f7f7;
$light-bg-color: #ffffff;
$dark-bg-color: #191c26;
$transparent-bg-color: rgba(17, 19, 25, 0.8);
$transparent-bg-color2: rgba(25, 28, 38, 0.9);
$transparent-bg-header-color: rgba(25, 28, 38, 0.2);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);