<section class="price-thumb" id="price">
  <div class="section price">
    <div class="container price__container">
      <p class="price__slogan">Проведи время в компании лучших мастеров</p>
      <h2 class="price__title">Услуги и цены</h2>
      <div class="price__list-thump">
        <ul class="price__list">
          <li class="price__item">
            <span class="price__service-name">Мужская стрижка</span>
            <span class="price__service-price">от 300 грн.</span>
          </li>
          <li class="price__item">
            <span class="price__service-name">Стрижка бороды</span>
            <span class="price__service-price">от 200 грн.</span>
          </li>
          <li class="price__item">
            <span class="price__service-name">Стрижка усов</span>
            <span class="price__service-price">от 200 грн.</span>
          </li>
          <li class="price__item">
            <span class="price__service-name">Бритье опасной бритвой</span>
            <span class="price__service-price">от 200 грн.</span>
          </li>
        </ul>
        <ul class="price__list">
          <li class="price__item">
            <span class="price__service-name">Cтрижка у стажера</span>
            <span class="price__service-price">от 50 грн.</span>
          </li>
          <li class="price__item">
            <span class="price__service-name">Стрижка под насадку</span>
            <span class="price__service-price">от 200 грн.</span>
          </li>
          <li class="price__item">
            <span class="price__service-name">Детская стрижка (до 12 лет)</span>
            <span class="price__service-price">от 300 грн.</span>
          </li>
          <li class="price__item">
            <span class="price__service-name">Камуфлирование седины</span>
            <span class="price__service-price">от 200 грн.</span>
          </li>
        </ul>
      </div>
      <div class="button__thumb">
        <a href="#online-record" class="record-button anchor">Онлайн-Запись</a>
      </div>
    </div>
  </div>
</section>
