<section class="section about-us" id="about-us">
  <div class="container about-us__container">
    <ul
      class="about-us__image-list"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <li class="about-us__image-item" data-aos="fade-right"
    data-aos-delay="100"
    data-aos-duration="500">
        <picture>
          <source
            srcset="
              ./images/about-us/1desktop.webp    1x,
              ./images/about-us/1desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/about-us/1desktop.jpg    1x,
              ./images/about-us/1desktop@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/about-us/1tablet.webp    1x,
              ./images/about-us/1tablet@2x.webp 2x,
              ./images/about-us/1tablet@3x.webp 3x
            "
            type="image/webp"
          />
          <img
            class="about-us__image"
            srcset="
              ./images/about-us/1tablet.jpg    1x,
              ./images/about-us/1tablet@2x.jpg 2x,
              ./images/about-us/1tablet@3x.jpg 3x
            "
            src="./images/about-us/1tablet.jpg"
            alt="мастер наносит педу для бритья"
            width="330"
            height="235"
          />
        </picture>
      </li>
      <li class="about-us__image-item">
        <picture>
          <source
            srcset="
              ./images/about-us/2desktop.webp    1x,
              ./images/about-us/2desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/about-us/2desktop.jpg    1x,
              ./images/about-us/2desktop@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/about-us/2tablet.webp    1x,
              ./images/about-us/2tablet@2x.webp 2x,
              ./images/about-us/2tablet@3x.webp 3x
            "
            type="image/webp"
          />
          <img
            class="about-us__image"
            srcset="
              ./images/about-us/2tablet.jpg    1x,
              ./images/about-us/2tablet@2x.jpg 2x,
              ./images/about-us/2tablet@3x.jpg 3x
            "
            src="./images/about-us/2tablet.jpg"
            alt="мастер бреет затылок клиента"
            width="330"
            height="235"
          />
        </picture>
      </li>
    </ul>
    <div class="about-us__content" data-aos="fade-left" data-aos-duration="500">
      <p class="about-us__slogan">О НАС</p>
      <h2 class="about-us__title">Лучший Барбершоп твоего города</h2>
      <p class="about-us__sub-title">
        Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
        нам.
      </p>
      <p class="about-us__text">
        Мы команда, которая никогда не останавливается на достигнутом и жаждет
        перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
        сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
        волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
        приходит!
      </p>
      <a
        class="record-button record-button--white about-us__button anchor"
        href="#online-record" data-aos="fade-up"
    data-aos-delay="200"
    data-aos-duration="500"
      >
        Онлайн-Запись
      </a>
    </div>
  </div>
</section>
