<section class="hero">
  <div class="hero__container swiper-container" data-aos="fade-down">
    <div class="slider swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./images/hero/slider/1.webp    1125w,
              ./images/hero/slider/1@2x.webp 2250w
            "
            sizes="100vw"
          />
          <img
            class="slider__image slider__image--1"
            srcset="./images/hero/slider/1@2x.jpg 2250w"
            src="./images/hero/slider/1.jpg"
            sizes="100vw"
            alt="укладка волос"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./images/hero/slider/2.webp    1125w,
              ./images/hero/slider/2@2x.webp 2250w
            "
            sizes="100vw"
          />
          <img
            class="slider__image slider__image--2"
            srcset="./images/hero/slider/2@2x.jpg 2250w"
            src="./images/hero/slider/2.jpg"
            sizes="100vw"
            alt="опасная бритва"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./images/hero/slider/3.webp    1125w,
              ./images/hero/slider/3@2x.webp 2250w
            "
            sizes="100vw"
          />
          <img
            class="slider__image slider__image--3"
            srcset="./images/hero/slider/3@2x.jpg 2250w"
            src="./images/hero/slider/3.jpg"
            sizes="100vw"
            alt="довольный клиент"
          />
        </picture>
      </div>
    </div>
    <ul class="slider__buttons">
      <li class="slider__buttons-item swiper-button-prev">
        <button class="slider__buttons-text" type="button">Назад</button>
      </li>
      <li class="slider__buttons-item swiper-button-next">
        <button class="slider__buttons-text" type="button">Вперед</button>
      </li>
    </ul>
    <div class="slider__checkbox swiper-pagination"></div>
  </div>
  <div class="hero__content-thumb" data-aos="fade-down">
    <div class="container hero__content">
      <p class="hero__slogan" lang="en">A hair salon for men in Kyiv</p>
      <h1 class="hero__title" lang="en">BarberShop</h1>
      <p class="hero__text">
        Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
        вкусом.
      </p>
    </div>
  </div>
</section>
