<section class="section benefits">
  <div class="container benefits__container">
    <div class="benefits__text-content" data-aos="fade-left" data-aos-offset="100" data-aos-duration="400">
      <p class="benefits__slogan" data-aos="fade-left" data-aos-offset="130" data-aos-duration="500">Старая традиционная школа</p>
      <h2 class="benefits__title" data-aos="fade-left" data-aos-offset="140" data-aos-duration="600">Преимущества</h2>
      <p class="benefits__text" data-aos="fade-left" data-aos-offset="140" data-aos-duration="700">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз прочитать.
      </p>
    </div>
    <div class="benefits__card-content" data-aos="fade-down" data-aos-offset="100" data-aos-duration="500">
      <ul class="benefits__card-list">
        <li class="benefits__card">
          <p class="benefits__card-number">
            600<sup class="benefits__card-plus">+</sup>
          </p>
          <p class="benefits__card-text">Довольных клиентов в день</p>
        </li>
        <li class="benefits__card" data-aos="fade-down" data-aos-offset="100" data-aos-duration="1000">
          <p class="benefits__card-number">
            20<sup class="benefits__card-plus">+</sup>
          </p>
          <p class="benefits__card-text">Лучших мастеров Киева</p>
        </li>
      </ul>
      <ul class="benefits__card-list">
        <li class="benefits__card">
          <p class="benefits__card-number">
            50<sup class="benefits__card-plus">+</sup>
          </p>
          <p class="benefits__card-text">Наград за отличный сервис</p>
        </li>
        <li class="benefits__card" data-aos="fade-down" data-aos-offset="100" data-aos-duration="1000">
          <p class="benefits__card-number">
            100<sup class="benefits__card-plus">+</sup>
          </p>
          <p class="benefits__card-text">Подарков постоянным клиентам</p>
        </li>
      </ul>
    </div>
  </div>
</section>
