<section class="section gallery">
  <div class="container">
    <p
      class="gallery__slogan"
      data-aos="fade-left"
      data-aos-offset="100"
      data-aos-duration="500"
    >
      На латинском языке “барба” означает “борода”
    </p>
    <h2 class="visually-hidden">Галерея работ</h2>
    <ul class="gallery__list">
      <li
        class="gallery__item"
        data-aos="fade-left"
        data-aos-delay="100"
        data-aos-duration="500"
      >
        <div class="gallery__image-thumb">
          <picture>
            <source
              srcset="
                ./images/gallery/1.webp    1x,
                ./images/gallery/1@2x.webp 2x,
                ./images/gallery/1@3x.webp 3x
              "
              type="image/webp"
            />
            <img
              class="gallery__image"
              srcset="
                ./images/gallery/1.jpg    1x,
                ./images/gallery/1@2x.jpg 2x,
                ./images/gallery/1@3x.jpg 3x
              "
              src="./images/gallery/1.jpg"
              alt="мастер стрижет клиента"
              width="418"
              height="360"
            />
          </picture>
        </div>
      </li>
      <li
        class="gallery__item"
        data-aos="fade-left"
        data-aos-delay="200"
        data-aos-duration="600"
      >
        <div class="gallery__image-thumb">
          <picture>
            <source
              srcset="
                ./images/gallery/2.webp    1x,
                ./images/gallery/2@2x.webp 2x,
                ./images/gallery/2@3x.webp 3x
              "
              type="image/webp"
            />
            <img
              class="gallery__image"
              srcset="
                ./images/gallery/2.jpg    1x,
                ./images/gallery/2@2x.jpg 2x,
                ./images/gallery/2@3x.jpg 3x
              "
              src="./images/gallery/2.jpg"
              alt="мастер бреет клиента"
              width="418"
              height="360"
            />
          </picture>
        </div>
      </li>
      <li
        class="gallery__item"
        data-aos="fade-left"
        data-aos-delay="300"
        data-aos-duration="700"
      >
        <div class="gallery__image-thumb">
          <picture>
            <source
              srcset="
                ./images/gallery/3.webp    1x,
                ./images/gallery/3@2x.webp 2x,
                ./images/gallery/3@3x.webp 3x
              "
              type="image/webp"
            />
            <img
              class="gallery__image"
              srcset="
                ./images/gallery/3.jpg    1x,
                ./images/gallery/3@2x.jpg 2x,
                ./images/gallery/3@3x.jpg 3x
              "
              src="./images/gallery/3.jpg"
              alt="мастер увлажняет лицо клиента"
              width="418"
              height="360"
            />
          </picture>
        </div>
      </li>
      <li
        class="gallery__item"
        data-aos="fade-left"
        data-aos-delay="400"
        data-aos-duration="800"
      >
        <div class="gallery__image-thumb">
          <picture>
            <source
              srcset="
                ./images/gallery/4.webp    1x,
                ./images/gallery/4@2x.webp 2x,
                ./images/gallery/4@3x.webp 3x
              "
              type="image/webp"
            />
            <img
              class="gallery__image"
              srcset="
                ./images/gallery/4.jpg    1x,
                ./images/gallery/4@2x.jpg 2x,
                ./images/gallery/4@3x.jpg 3x
              "
              src="./images/gallery/4.jpg"
              alt="мастер бреет затылок клиента"
              width="418"
              height="360"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
