<section class="section masters" id="masters">
  <div class="container masters__container">
    <p class="masters__slogan">для настоящих ценителей атмосферы</p>
    <h2 class="masters__title">Наши мастера</h2>
    <ul class="masters__team-list">
      <li class="masters__team-item">
        <div class="masters__image-thumb">
          <picture>
            <source
              srcset="
                ./images/masters/smith.webp    1x,
                ./images/masters/smith@2x.webp 2x,
                ./images/masters/smith@3x.webp 3x
              "
              type="image/webp"
            />
            <img
              class="masters__image"
              srcset="
                ./images/masters/smith.jpg    1x,
                ./images/masters/smith@2x.jpg 2x,
                ./images/masters/smith@3x.jpg 3x
              "
              src="./images/masters/smith.jpg"
              alt="Фото Джон Смит"
              width="418"
              height="346"
            />
          </picture>
        </div>
        <h3 class="masters__name" lang="en">John Smith</h3>
        <p class="masters__position" lang="en">Extreme Barber</p>
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="" aria-label="ссылка на инстаграмм мастера">
              <svg width="20px" height="20px" >
                <use
                  class="social__icons"
                  href="./images/sprite.svg#icon-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="" aria-label="ссылка на твиттер мастера">
              <svg width="20px" height="20px">
                <use
                  class="social__icons"
                  href="./images/sprite.svg#icon-twitter"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="" aria-label="ссылка на фейсбук мастера">
              <svg width="20px" height="20px">
                <use
                  class="social__icons"
                  href="./images/sprite.svg#icon-facebook"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="" aria-label="ссылка на линкед ин мастера">
              <svg width="20px" height="20px">
                <use
                  class="social__icons"
                  href="./images/sprite.svg#icon-linkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="masters__team-item">
        <div class="masters__image-thumb">
          <picture>
            <source
              srcset="
                ./images/masters/doe.webp    1x,
                ./images/masters/doe@2x.webp 2x,
                ./images/masters/doe@3x.webp 3x
              "
              type="image/webp"
            />
            <img
              class="masters__image"
              srcset="
                ./images/masters/doe.jpg    1x,
                ./images/masters/doe@2x.jpg 2x,
                ./images/masters/doe@3x.jpg 3x
              "
              src="./images/masters/doe.jpg"
              alt="Фото Мишель До"
              width="418"
              height="346"
            />
          </picture>
        </div>
        <h3 class="masters__name" lang="en">Michele Doe</h3>
        <p class="masters__position" lang="en">Extreme Barber</p>
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="" aria-label="ссылка на инстаграмм мастера">
              <svg width="20px" height="20px">
                <use class="social__icons" href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="" aria-label="ссылка на твиттер мастера">
              <svg width="20px" height="20px">
                <use class="social__icons" href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="" aria-label="ссылка на фейсбук мастера">
              <svg width="20px" height="20px">
                <use class="social__icons" href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="" aria-label="ссылка на линкед ин мастера">
              <svg width="20px" height="20px">
                <use class="social__icons" href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="masters__team-item">
        <div class="masters__image-thumb">
          <picture>
            <source
              srcset="
                ./images/masters/black.webp    1x,
                ./images/masters/black@2x.webp 2x,
                ./images/masters/black@3x.webp 3x
              "
              type="image/webp"
            />
            <img
              class="masters__image"
              srcset="
                ./images/masters/black.jpg    1x,
                ./images/masters/black@2x.jpg 2x,
                ./images/masters/black@3x.jpg 3x
              "
              src="./images/masters/black.jpg"
              alt="Фото Алан Блек"
              width="418"
              height="346"
            />
          </picture>
        </div>
        <h3 class="masters__name" lang="en">Alan Black</h3>
        <p class="masters__position" lang="en">Extreme Barber</p>
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="" aria-label="ссылка на инстаграмм мастера">
              <svg width="20px" height="20px">
                <use class="social__icons" href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="" aria-label="ссылка на твиттер мастера">
              <svg width="20px" height="20px">
                <use class="social__icons" href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="" aria-label="ссылка на фейсбук мастера">
              <svg width="20px" height="20px">
                <use class="social__icons" href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="" aria-label="ссылка на линкед ин мастера">
              <svg width="20px" height="20px">
                <use class="social__icons" href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
