.record-button {
  display: inline-block;
  min-width: 160px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid $accent-color;
  border-radius: 25px;
  background: none;
  color: $light-link-color;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms $cubic, background-color 250ms $cubic;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $light-link-color;
  }
}
.record-button--white{
  color: $dark-link-color;
}
.button__thumb{
  display: flex;
}