.footer {
	padding-top: 24px;
	padding-bottom: 44px;
	@media screen and (min-width: $min-tablet){
		padding: 36px 0px;
	}
}
.footer__container {
	display: flex;
	flex-direction: column-reverse;
	@media screen and (min-width: $min-tablet){
		flex-direction: row;
	}
}
.footer__copyright {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
  & p {
    margin: 0;
    margin-left: 6px;
  }
}
.footer__social{
	margin-left: auto;
}
